.EditBlock {
    margin-top: 20px;
}

.Players td {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    min-width: 100px;
}

.Players .RemoveButton {
    min-height: 30px;
    min-width: 100px;
}

.Players .ClearButton {
    width: 30%;
    min-width: 100px;
    height: 30px;
    margin-top: 10px;
}
